body {
    background-color: #ecf0f1;
    color: #34495e;
}
.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.button-one, .button-two, .button-three{
    text-align: center;
    cursor: pointer;
    font-size:24px;
    margin: 0 0 0 100px;
  }
.button-one {
    padding:20px 60px;
    outline: none;
    background-color: #27ae60;
    border: none;
    border-radius:5px;
    box-shadow: 0 9px #7f8c8d;
  }
  
  .button-one:hover{
    background-color: #2ecc71;
  }
  
  .button-one:active {
    background-color: #2ecc71;
    box-shadow: 0 5px #7f8c8d;
    transform: translateY(4px);
  }

  h1 {
    margin: 0;
    line-height: 2;
    text-align: center;
 }
  h2 {
    margin: 0 0 0.5em;
    font-weight: normal;
 }
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
 }
  .row {
    display: flex;
 }
  .row .col {
    flex: 1;
 }
  .row .col:last-child {
    margin-left: 1em;
 }
 /* Accordion styles */
  .tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
 }
  .tab {
    width: 100%;
    color: white;
    overflow: hidden;
 }
  .tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #2c3e50;
    font-weight: bold;
    cursor: pointer;
   /* Icon */
 }
  .tab-label:hover {
    background: #1a252f;
 }
  .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
 }
  .tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all 0.35s;
 }
  .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
 }
  .tab-close:hover {
    background: #1a252f;
 }
  input:checked + .tab-label {
    background: #1a252f;
 }
  input:checked + .tab-label::after {
    transform: rotate(90deg);
 }
  input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
 }
  

 /* PRELOADER */ 

 .fond{position:absolute;padding-top:85px;top:0;left:0; right:0;bottom:0;}

.contener_general
{
  -webkit-animation:animball_two 1s infinite;
  -moz-animation:animball_two 1s infinite;
  -ms-animation:animball_two 1s infinite;
  animation:animball_two 1s infinite;
  width:44px; height:44px;
}
.contener_mixte
{
  width:44px; height:44px; position:absolute;
}
.ballcolor
{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.ball_1, .ball_2, .ball_3, .ball_4
{
  position: absolute;
  -webkit-animation:animball_one 1s infinite ease;
  -moz-animation:animball_one 1s infinite ease;
  -ms-animation:animball_one 1s infinite ease;
  animation:animball_one 1s infinite ease;
}
.ball_1
{
  background-color:#cb2025;
  top:0; left:0;
}
.ball_2
{
  background-color:#f8b334;
  top:0; left:24px;
}
.ball_3
{
  background-color:#00a096;
  top:24px; left:0;
}
.ball_4
{
  background-color:#97bf0d;
  top:24px; left:24px;
}

@-webkit-keyframes animball_one
{
  0%{ position: absolute;}
  50%{top:12px; left:12px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}
@-moz-keyframes animball_one
{
  0%{ position: absolute;}
  50%{top:12px; left:12px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}
@-ms-keyframes animball_one
{
  0%{ position: absolute;}
  50%{top:12px; left:12px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}
@keyframes animball_one
{
  0%{ position: absolute;}
  50%{top:12px; left:12px; position: absolute;opacity:0.5;}
  100%{ position: absolute;}
}

@-webkit-keyframes animball_two
{
  0%{-webkit-transform:rotate(0deg) scale(1);}
  50%{-webkit-transform:rotate(360deg) scale(1.3);}
  100%{-webkit-transform:rotate(720deg) scale(1);}
}
@-moz-keyframes animball_two
{
  0%{-moz-transform:rotate(0deg) scale(1);}
  50%{-moz-transform:rotate(360deg) scale(1.3);}
  100%{-moz-transform:rotate(720deg) scale(1);}
}
@-ms-keyframes animball_two
{
  0%{-ms-transform:rotate(0deg) scale(1);}
  50%{-ms-transform:rotate(360deg) scale(1.3);}
  100%{-ms-transform:rotate(720deg) scale(1);}
}
@keyframes animball_two
{
  0%{transform:rotate(0deg) scale(1);}
  50%{transform:rotate(360deg) scale(1.3);}
  100%{transform:rotate(720deg) scale(1);}
}